.about-info {
  padding-top: 60px;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  z-index: 9;
  &:before {
    content: "";
    width: 331px;
    height: 331px;
    background-color: #eff8ed;
    opacity: 0.75;
    border-radius: 50%;
    box-shadow: 2px 4px 51px 21px #eff8ed;
    position: absolute;
    z-index: -12;
    left: 65px;
    top: 283px;
    @media (max-width: 575px) {
      left: -100px;
    }
  }
  &__top {
    padding-bottom: 100px;
    h2 {
      font-size: 48px;
      @media (max-width: 991px) {
        font-size: 40px;
      }
    }
  }
  &__block {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    h3 {
      margin-bottom: 30px;
      text-align: center;
    }
    p {
      width: 100%;
      max-width: 300px;
      text-align: center;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    &:after {
      content: "";
      width: 216px;
      height: 216px;
      background-color: #fcf1eb;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 21px #fcf1eb;
      position: absolute;
      z-index: -12;
      right: -15px;
      bottom: 7px;
      @media (max-width: 575px) {
        right: -85px;
      }
    }
  }
  .col-lg-4 {
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
    }
  }
  .row {
    display: flex;
    align-items: baseline;
  }
  &__bottom {
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    &:after {
      content: "";
      width: 216px;
      height: 216px;
      background-color: #fcf1eb;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 21px #fcf1eb;
      position: absolute;
      z-index: -12;
      right: -95px;
      top: 43px;
    }
  }
}
