.advantages {
  overflow: hidden;
  padding-bottom: 70px;
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
  }
  &__numbers-block {
    display: flex;
    justify-content: space-around;
    margin-bottom: 80px;
    @media (max-width: 767px) {
      flex-wrap: wrap;
      max-width: 450px;
      margin: 0 auto 80px auto;
    }
    @media (max-width: 575px) {
      margin-bottom: 40px;
    }
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: flex-end;
    &:after {
      content: url("images/advantages/oval-blue.svg");
      position: absolute;
      right: -95px;
      top: -95px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px) {
      margin-bottom: 67px;
    }
    @media (max-width: 575px) {
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 23px;
      text-align: center;
    }
    p {
      text-align: center;
      max-width: 240px;
    }
  }
  &__text-block {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 60px;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }
  }
  &__oval {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-width: 156px;
    height: 174px;
    @media (max-width: 575px) {
      height: 144px;
    }
    &:nth-child(1) {
      background-image: url("images/advantages/oval-yellow.svg");
    }
    &:nth-child(2) {
      background-image: url("images/advantages/oval-blue.svg");
    }
    &:nth-child(3) {
      background-image: url("images/advantages/oval-green.svg");
    }
    &:nth-child(4) {
      background-image: url("images/advantages/oval-orange.svg");
    }
    span {
      color: #4a3c3a;
      @include h-reg;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
    }
    p {
      text-align: center;
      color: #4a3c3a;
      @include h-reg;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
