.card-detail {
  margin-top: 20px;
  overflow: hidden;
  padding-bottom: 20px;
  .img-big {
    width: 130% !important;
    margin-top: 7px;
  }
  .cards__bottom-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    a {
      margin-right: 10px;
    }
    h3 {
      color: #4a3c3a;
      @include h-reg;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 35px;
      max-width: 320px;
    }
  }
  .swiper-container {
    width: 100%;
    height: 100%;
    @media (max-width: 992px) {
      order: 2;
    }
  }
  &__hide {
    @media (max-width: 575px) {
      display: none;
    }
    &__device {
      display: none;
      @media (max-width: 575px) {
        display: block;
      }
    }
  }
  h2 {
    width: 100%;
    max-width: 495px;
    padding-bottom: 95px;
    @media (max-width: 575px) {
      padding-bottom: 10px;
      max-width: 324px;
      text-align: center;
      margin: auto;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__say {
    @media (max-width: 575px) {
      position: relative;
      right: 0;
      top: -60px;
    }
    span {
      color: #a49d9c;
      font-size: 160px;
      font-weight: 400;
      @include luc-grande;
    }
  }
  &__img {
    width: 100%;
    max-width: 360px;
    border-radius: 8px;
    img {
      width: 100%;
      height: 100%;
    }
    @media (max-width: 992px) {
      max-width: 290px;
    }
    @media (max-width: 575px) {
      max-width: 330px;
      height: 420px;
    }
  }
  &__bottom {
    padding-top: 24px;
    @media (max-width: 1199px) {
      padding-top: 17px;
    }
    @media (max-width: 767px) {
      padding-top: 10px;
      padding-bottom: 20px;
    }
    @media (max-width: 575px) {
      padding-top: 12px;
      padding-bottom: 30px;
    }
    h5 {
      color: #150a2c;
      @include h-reg;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      @media (max-width: 575px) {
        font-size: 18px;
      }
    }
  }
  .cards-line {
    margin-top: 40px;
    max-width: 160px;
    height: 1px;
    background-color: #a59e9d;
    @media (max-width: 1199px) {
      margin-top: 23px;
    }
  }
  &__text {
    padding-left: 40px;
    width: 100%;
    max-width: 900px;
    @media (max-width: 767px) {
      padding-left: 15px;
    }
    @media (max-width: 575px) {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 0;
    }
    p {
      max-width: 256px;
      margin-top: -75px;
      width: 100%;
      color: #101318;
      @include thin;
      font-size: 16px;
      font-weight: 100;
      line-height: 24px;
      @media (max-width: 1199px) {
        margin-top: -90px;
      }
      @media (max-width: 575px) {
        max-width: 218px;
        margin-top: 50px;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    @media (max-width: 1018px) {
      flex-direction: column;
    }
    @media (max-width: 575px) {
      justify-content: center;
      align-items: center;
    }
  }
  &__card {
    display: flex;
    justify-content: space-around;
    height: 420px;
    @media (max-width: 1199px) {
      height: 338px;
    }
    @media (max-width: 767px) {
      height: 100%;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: 0.4s;
    max-width: 320px;
    @media (max-width: 1118px) {
      flex-direction: column;
      margin-top: 30px;
      width: 100%;
    }
    @media (max-width: 992px) {
      order: 1;
      flex-direction: row;
      max-width: 392px;
      height: 100%;
      margin-bottom: 30px;
      justify-content: center;
    }
    @media (max-width: 575px) {
      max-width: 350px;
    }
    &-top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 64px;
      @media (max-width: 991px) {
        margin-bottom: 0;
      }
      .card-detail__small-img:first-child {
        margin-right: 80px;
        @media (max-width: 991px) {
          margin-right: 23px;
        }
        @media (max-width: 330px) {
          margin-right: 15px;
        }
      }
    }
    &-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .card-detail__small-img:first-child {
        margin-right: 80px;
        @media (max-width: 991px) {
          margin-right: 23px;
        }
        @media (max-width: 330px) {
          margin-right: 15px;
        }
      }
    }
    .active {
      &:before {
        opacity: 1;
        content: url("images/icons/oval-border.svg");
        position: absolute;
        transition: 0.4s;
        top: -77px;
        right: 12px;
      }
    }
    .card-detail__small-img {
      position: relative;
      transition: 0.4s;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      max-width: 180px;
      z-index: 9;
      @media (max-width: 1199px) {
        max-width: 155px;
      }
      @media (max-width: 1118px) {
        max-width: 180px;
      }
      @media (max-width: 992px) {
        max-width: 80px;
      }
      @media (max-width: 575px) {
        max-width: 65px;
      }
      @media (max-width: 375px) {
        max-width: 60px;
      }
      &:before {
        opacity: 0;
        content: url("images/icons/oval-border.svg");
        position: absolute;
        transition: 0.4s;
        top: -77px;
        right: 12px;
        @media (max-width: 575px) {
          content: url("images/slider/small-oval-border.svg");
          max-width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 1px solid  rgba(25, 20, 19, 0.41);
          right: 100px;
          top: -58px;
        }
      }
      img {
        transition: 0.4s;
        width: 100%;
      }
      &:hover {
        cursor: pointer;
        &:before {
          opacity: 0.5;
        }
      }
    }
  }
}
