.colours-slider {
  padding-top: 117px;
  overflow: hidden;
  padding-bottom: 60px;
  @media (max-width: 575px) {
    padding-top: 80px;
    padding-bottom: 0;
  }
  &__right {
    margin-top: 150px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    position: relative;
    z-index: 9;
    @media (max-width: 767px) {
      margin-top: 220px;
    }
    @media (max-width: 575px) {
      margin-left: -108px;
    }
    @media (max-width: 361px) {
      margin-top: 130px;
      margin-left: -70px;
    }
    &:before {
      filter: blur(8px);
      content: "";
      width: 222px;
      height: 222px;
      background-color: #fdf5f1;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 10px #fdf5f1;
      position: absolute;
      z-index: -12;
      left: 478px;
      top: -117px;
    }
  }
  &__content {
    display: flex;
  }
  .swiper-container {
    max-width: 600px;
    @media (max-width: 767px) {
      max-width: 420px;
    }
    @media (max-width: 575px) {
      max-width: 390px;
      z-index: -12;
    }
  }
  .swiper-button-prev {
    position: absolute;
    bottom: 0;
    left: -111px;
    @media (max-width: 575px) {
      left: -65px;
      svg {
        width: 12px;
        height: 21px;
      }
    }
  }
  .swiper-button-next {
    position: absolute;
    bottom: 0;
    left: 650px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 72px;
    width: 100%;
    height: 72px;
    border: 1px solid #4a3c3a;
    opacity: 0.49;
    border-radius: 50%;
    transition: 0.3s;
    margin-bottom: 30px;
    z-index: 99;
    @media (max-width: 575px) {
      width: 50px;
      height: 50px;
      position: absolute;
    }
    &:hover {
      background: #eff8ed;
      cursor: pointer;
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__mobile {
    display: none;
    @media (max-width: 575px) {
      display: flex;
      margin-top: 40px;
    }
    p {
      margin: auto;
      max-width: 307px;
    }
  }
  &__text {
    margin-left: 220px;
    width: 100%;
    margin-top: 90px;
    @media (max-width: 375px) {
      margin-top: 60px;
    }
    @media (max-width: 375px) {
      margin-top: 40px;
    }
    p {
      @media (max-width: 575px) {
        display: none;
      }
    }
    @media (max-width: 767px) {
      margin-left: 0;
    }
    h1 {
      width: 100%;
      margin-bottom: 30px;
      position: relative;
      z-index: 9;
      &:before {
        filter: blur(8px);
        content: "";
        width: 222px;
        height: 222px;
        background-color: #f3f9fa;
        border-radius: 50%;
        box-shadow: 2px 4px 51px 4px #f3f9fa;
        position: absolute;
        z-index: -12;
        left: -100px;
        top: -70px;
      }
    }
  }
}
