.future {
  position: relative;
  padding-top: 200px;
  margin-bottom: 200px;
  display: flex;
  &:after {
    z-index: -12;
    content: url("images/future/orange-big.svg");
    position: absolute;
    right: 0;
    top: 60px;
  }
  &:before {
    z-index: -12;
    content: url("images/future/oval-blue.svg");
    position: absolute;
    left: 0;
    top: 150px;
  }
  &__top {
    display: flex;
    justify-content: flex-end;
  }
  h2 {
    position: relative;
    max-width: 519px;
    margin-bottom: 60px;
  }
  &__right {
    margin-top: 70px;
    img {
      width: 100%;
    }
  }
  p {
    margin-bottom: 20px;
  }
  h3 {
    max-width: 280px;
    margin-bottom: 26px;
  }
  &__left {
    max-width: 527px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
}
