.future {
  position: relative;
  padding-top: 140px;
  margin-bottom: 200px;
  display: flex;
  overflow-y: hidden;
  @media (max-width: 991px) {
    padding-top: 120px;
  }
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
  &:after {
    z-index: -12;
    content: url("images/future/orange-big.svg");
    position: absolute;
    right: 0;
    top: 60px;
    @media (max-width: 575px) {
      right: -253px;
      top: -22px;
    }
  }
  &:before {
    z-index: -12;
    content: url("images/future/oval-blue.svg");
    position: absolute;
    left: 0;
    top: 150px;
    @media (max-width: 575px) {
      display: none;
    }
  }
  &__top {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 991px) {
      justify-content: center;
    }
  }
  h2 {
    position: relative;
    max-width: 519px;
    margin-bottom: 60px;
    @media (max-width: 991px) {
      margin-bottom: 0;
    }
  }
  &__right {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {
      order: 1;
      max-width: 500px;
      margin: 40px auto 60px auto;
    }
    @media (max-width: 575px) {
      position: relative;
      right: -50px;
    }
    img {
      width: 100%;
    }
  }
  p {
    margin-bottom: 20px;
  }
  h3 {
    max-width: 280px;
    margin-bottom: 26px;
  }
  &__left {
    max-width: 527px;
    display: flex;
    flex-direction: column;
    @media (max-width: 1199px) {
      max-width: 490px;
      margin-right: 60px;
    }
    @media (max-width: 991px) {
      order: 2;
      margin: auto;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
}
