.hair-problem {
  padding-top: 35px;
  padding-bottom: 120px;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 0;
    padding-top: 140px;
  }
  &__text {
    max-width: 434px;
    margin-right: 120px;
    position: relative;
    z-index: 9;
    @media (max-width: 991px) {
      margin-right: 0;
      margin-bottom: 40px;
    }
    &:before {
      z-index: -12;
      content: url("images/icons/oval-border.svg");
      position: absolute;
      top: -62px;
      left: -43px;
    }
  }
  &__block {
    display: flex;
    @media (max-width: 991px) {
      margin-bottom: 16px;
    }
  }
  &__ovals {
    display: flex;
    .hair-problem__box {
      &:first-child {
        background-color: #f3f9fa;
        margin-right: 100px;
        box-shadow: 2px 4px 51px 7px #f3f9fa;
        @media (max-width: 575px) {
          margin-right: 10px;
        }
      }
      &:last-child {
        background-color: #fffbef;
        margin-right: 100px;
        box-shadow: 2px 4px 51px 7px #fffbef;
        @media (max-width: 991px) {
          margin-right: 0;
        }
      }
    }
  }
  &__box {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      max-width: 110px;
      margin-top: 5px;
      text-align: center;
    }
  }
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    @media (max-width: 991px) {
      flex-direction: column;
      margin-bottom: 16px;
    }
  }
  &__line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    .hair-problem__box {
      &:first-child {
        background-color: #fffbef;
        margin-right: 100px;
        box-shadow: 2px 4px 51px 7px #fffbef;
        @media (max-width: 575px) {
          margin-right: 10px;
        }
      }
      &:nth-child(2) {
        background-color: #f3f9fa;
        margin-right: 100px;
        box-shadow: 2px 4px 51px 7px #f3f9fa;
        @media (max-width: 991px) {
          margin-right: 0;
        }
      }
      &:nth-child(3) {
        background-color: #eff8ed;
        box-shadow: 2px 4px 51px 7px #eff8ed;
        margin-right: 100px;
        @media (max-width: 575px) {
          margin-right: 10px;
        }
      }
      &:nth-child(4) {
        background-color: #fcf1eb;
        box-shadow: 2px 4px 51px 7px #fcf1eb;
        @media (max-width: 991px) {
          margin-right: 0;
        }
        h3 {
          margin-top: 20px;
        }
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
