.page-hero {
  margin-top: 55px;
  margin-bottom: 80px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__right {
    position: absolute;
    top: 130px;
    right: 0;
  }
  &__text {
    margin-top: 280px;
    margin-right: 230px;
  }
  &__logo {
    display: flex;
    img:first-child {
      margin-right: 55px;
    }
  }
  &__left {
    display: flex;
    h1 {
      margin-top: 90px;
      margin-left: -100px;
    }
  }
  p {
    max-width: 255px;
    margin-bottom: 50px;
  }
  h3 {
    z-index: 9;
    max-width: 399px;
    padding-bottom: 30px;
    &:before {
      z-index: -12;
      content: "";
      position: absolute;
      right: 590px;
      top: 394px;
      width: 100%;
      max-width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #eff8ed;
      border: 1px solid #4a3c3a;
      opacity: 0.55;
    }
  }
  h1 {
    max-width: 450px;
  }
}
