.page-hero {
  margin-top: 55px;
  margin-bottom: 80px;
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__right {
    position: absolute;
    top: 130px;
    right: 0;
    img {
      box-shadow: 15px 15px 5px 0  #f3f9fa;
    }
  }
  &__text {
    z-index: 9;
    margin-top: 280px;
    margin-right: 230px;
    &:after {
      content: url("images/icons/oval-big-blue.svg");
      position: absolute;
      right: 0;
      top: 373px;
      z-index: -12;
    }
  }
  &__logo {
    display: flex;
    img:first-child {
      margin-right: 55px;
    }
  }
  &__left {
    display: flex;
    h1 {
      margin-top: 90px;
      margin-left: -100px;
    }
  }
  p {
    max-width: 255px;
    margin-bottom: 50px;
  }
  h3 {
    position: relative;
    z-index: 9;
    max-width: 399px;
    padding-bottom: 30px;
    &:before {
      z-index: -12;
      content: url("images/icons/oval-green.svg");
      position: absolute;
      width: 100%;
      max-width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 1px solid rgba(25, 20, 19, 0.41);
      top: -60px;
      right: 350px;
    }
  }
  h1 {
    max-width: 450px;
  }
}
