.plants {
  display: flex;
  overflow: hidden;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  &__left {
    display: flex;
    img {
      width: 100%;
      max-width: 493px;
      height: 100%;
      max-height: 434px;
      @media (max-width: 575px) {
        max-width: 400px;
        z-index: 12;
      }
      @media (max-width: 460px) {
        max-width: 300px;
        margin-left: -15px;
      }
      @media (max-width: 400px) {
        max-width: 260px;
        margin-left: -26px;
      }
    }
    h2 {
      margin-top: 64px;
      width: 100%;
      margin-left: -180px;
      max-width: 400px;
      font-size: 48px;
      line-height: 64px;
      @media (max-width: 991px) {
        font-size: 41px;
      }
      @media (max-width: 767px) {
        font-size: 38px;
        max-width: 300px;
      }
      @media (max-width: 575px) {
        margin-left: -130px;
        margin-top: 30px;
        max-width: 230px;
        z-index: 99;
      }
      @media (max-width: 460px) {
        margin-top: 15px;
        margin-left: -80px;
      }
      @media (max-width: 400px) {
        margin-left: -95px;
      }
    }
  }
  &__img {
    position: absolute;
    right: -10px;
    max-width: 336px;
    margin-top: 26px;
    @media (max-width: 991px) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    h3 {
      margin-top: 272px;
      width: 100%;
      max-width: 445px;
      position: relative;
      z-index: 9;
      @media (max-width: 1230px) {
        margin-left: -70px;
      }
      @media (max-width: 991px) {
        margin: 70px auto 0 auto;
      }
      @media (max-width: 575px) {
        margin-top: 50px;
      }
      @media (max-width: 460px) {
        margin: 0;
        padding: 50px 15px 0 15px;
      }
      &:before {
        width: 192px;
        height: 192px;
        content: "";
        position: absolute;
        z-index: -12;
        opacity: 0.5;
        border-radius: 50%;
        background-color: #eff8ed;
        box-shadow: 2px 4px 51px 7px #eff8ed;
        left: -110px;
        top: -65px;
      }
    }
  }
}
