.practice {
  padding-top: 160px;
  padding-bottom: 100px;
  overflow: hidden;
  @media (max-width: 575px) {
    padding-top: 110px;
  }
  &__text {
    max-width: 322px;
    margin-bottom: 75px;
    @media (max-width: 575px) {
      margin: 0 auto 60px auto;
    }
    h3 {
      text-align: center;
    }
  }
  &__btn {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 9;
    &:after {
      content: "";
      width: 216px;
      height: 216px;
      background-color: #f3f9fa;
      opacity: 0.75;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 10px #f3f9fa;
      position: absolute;
      z-index: -12;
      right: -95px;
    }
  }
  .btn-arrow {
    max-width: 208px !important;
    &:before {
      width: 210px;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    &:before {
      content: "";
      width: 331px;
      height: 331px;
      background-color: #fcf1eb;
      opacity: 0.75;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 10px #fcf1eb;
      position: absolute;
      z-index: -12;
      left: 120px;
      top: -100px;
    }
    h2 {
      margin-bottom: 112px;
      text-align: center;
      @media (max-width: 575px) {
        margin-bottom: 60px;
      }
    }
  }
}
