.range-colors {
  padding-top: 170px;
  overflow: hidden;
  &__img-text {
    display: flex;
    max-height: 473px;
    margin-top: 235px;
    align-items: center;
    h2 {
      position: absolute;
      max-width: 635px;
      width: 100%;
      text-align: right;
      right: 0;
      padding-bottom: 63px;
      z-index: 9;
      @media (max-width: 1199px) {
        margin-top: 113px;
        padding-bottom: 0;
      }
      &:after {
        content: "";
        width: 200px;
        height: 200px;
        background-color: #fdf5f1;
        border-radius: 50%;
        box-shadow: 2px 4px 51px 10px #fdf5f1;
        position: absolute;
        z-index: -12;
        right: -65px;
        bottom: -85px;
      }
    }
  }
  &__img {
    margin-top: 80px;
    margin-left: 90px;
  }
  &__content {
    display: flex;
    position: relative;
  }
  h2 {
    color: #4a3c3a;
    font-size: 64px;
    font-weight: 400;
    line-height: 90px;
  }
  &__text {
    p {
      max-width: 371px;
    }
    h2 {
      max-width: 400px;
      margin-bottom: 60px;
    }
  }
  &__bottom {
    position: relative;
    display: flex;
  }
  &__img-right {
    position: absolute;
    right: 0;
  }
  &__column {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
  }
}
