.shampoo {
  padding-top: 130px;
  padding-bottom: 180px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 140px;
  }
  h2 {
    position: absolute;
    white-space: nowrap;
  }
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    z-index: 12;
    &:after {
      content: "";
      width: 432px;
      height: 432px;
      background-color: #fdf5f0;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 15px #fdf5f0;
      position: absolute;
      z-index: -12;
      right: -100px;
    }
    img {
      margin-right: 20px;
      margin-bottom: 147px;
      margin-top: -23px;
    }
    h2 {
      bottom: 0;
      color: #a5a1a1;
      font-size: 64px;
      font-weight: 400;
      line-height: 80px;
      right: -100px;
    }
  }
  &__left {
    position: relative;
    z-index: 12;
    &:after {
      content: "";
      width: 331px;
      height: 331px;
      background-color: #fdf5f0;
      opacity: 0.75;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 5px #fdf5f0;
      position: absolute;
      z-index: -12;
      right: -175px;
      top: -120px;
    }
    img {
      margin-bottom: 44px;
      margin-left: -65px;
    }
    h2 {
      color: #a5a1a1;
      font-size: 64px;
      font-weight: 400;
      line-height: 80px;
      left: -152px;
    }
  }
  &__center {
    z-index: 12;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    h2 {
      color: #4a3c3a;
      font-size: 64px;
      font-weight: 400;
      line-height: 80px;
      top: 0;
      left: -154px;
    }
  }
}
