.shop {
  padding-top: 150px;
  @media (max-width: 991px) {
    padding-top: 100px;
  }
  .col-sm-6,
  .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  &__btn {
    display: flex;
    align-items: center;
    a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4a3c3a;
      @include roman;
      font-size: 16px;
      width: 100%;
      max-width: 32px;
      height: 32px;
      background-color: #f9f9f9;
      margin-right: 15px;
      @media (max-width: 575px) {
        font-size: 23px;
        height: 48px;
        max-width: 48px;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      &:after {
        z-index: 9;
        border: 1px solid #b1abaa;
        transition: 0.3s;
        position: absolute;
        content: "";
        display: block;
        left: -4px;
        top: -3px;
        bottom: -3px;
        right: -4px;
      }
      &:before {
        z-index: -12;
        background: #eff8ed;
        transition: 0.3s;
        position: absolute;
        content: "";
        display: block;
        left: 0;
        top: 6px;
        opacity: 0;
        bottom: 0;
        right: 0;
        width: 41px;
        height: 35px;
        @media (max-width: 575px) {
          height: 52px;
        }
      }
      &:last-child {
        margin-right: 0;
        &:hover {
          &:before {
            opacity: 1;
          }
        }
        &:after {
          z-index: 9;
          border: 1px solid #b1abaa;
          transition: 0.3s;
          position: absolute;
          content: "";
          display: block;
          left: -4px;
          top: -3px;
          bottom: -3px;
          right: -4px;
        }
        &:before {
          z-index: -12;
          background: #eff8ed;
          transition: 0.3s;
          position: absolute;
          content: "";
          display: block;
          left: 15px;
          top: 13px;
          opacity: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          max-width: 38px;
          height: 40px;
          @media (max-width: 575px) {
            left: 6px;
            top: 9px;
            width: 52px;
          }
        }
      }
    }
  }
  .big-btn {
    border: none;
    color: #4a3c3a;
    @include roman;
    font-size: 16px;
    width: 100%;
    max-width: 794px;
    height: 32px;
    background-color: #f9f9f9;
    margin-right: 25px;
    position: relative;
    z-index: 9;
    @media (max-width: 575px) {
      font-size: 23px;
      height: 48px;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
    }
    &:after {
      z-index: 9;
      border: 1px solid #b1abaa;
      transition: 0.3s;
      position: absolute;
      content: "";
      display: block;
      left: -4px;
      top: -3px;
      bottom: -3px;
      right: -4px;
    }
    &:before {
      z-index: -12;
      background: #eff8ed;
      transition: 0.3s;
      position: absolute;
      content: "";
      display: block;
      left: 15px;
      top: 13px;
      opacity: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-width: 800px;
      height: 40px;
      @media (max-width: 575px) {
        height: 52px;
      }
    }
  }
  &__block-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 930px;
    height: 240px;
    background-color: #d8d8d8;
    margin-bottom: 40px;
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
    p {
      color: #4a3c3a;
      @include roman;
      font-size: 16px;
      font-weight: 400;
    }
  }
  .like-block__small-box {
    margin-bottom: 40px !important;
    span {
      text-align: center;
    }
  }
  &__boxes {
    width: 100%;
  }
  .filter {
    width: 100%;
    max-width: 200px;
    margin-right: 50px;
    @media (max-width: 991px) {
      max-width: 400px;
      margin-right: 0;
    }
    @media (max-width: 575px) {
      max-width: 100%;
    }
    &__header-active {
      h3 {
        &:after {
          content: "";
          position: absolute;
          left: 8px;
          height: 18px;
          border-right: 1px solid #979797;
          transition: 0.3s;
        }
      }
    }
    &__header {
      margin-bottom: 15px;
      display: flex;
      h3 {
        display: flex;
        align-items: center;
        padding-left: 30px;
        position: relative;
        font-size: 32px;
        line-height: 36px;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          width: 18px;
          border-top: 1px solid #979797;
        }
      }
    }
    &__mobile {
      display: none;
      margin-bottom: 50px;
      @media (max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
    &__desktop {
      @media (max-width: 991px) {
        display: none;
      }
    }
    &__hide {
      display: none;
      margin-left: 30px;
      padding-top: 13px;
    }
    .filter__active {
      &:before {
        background-color: rgba(214, 243, 208, 0.5);
      }
    }
    .forms__checkbox {
      margin-bottom: 10px !important;
      label {
        color: #4a3c3a;
        @include roman;
        font-size: 16px;
      }
    }
    &__toggle {
      border-top: 1px solid rgba(25, 20, 19, 0.41);
      width: 100%;
      max-width: 200px;
      @media (max-width: 991px) {
        max-width: 100%;
      }
      &:last-child {
        border-bottom: 1px solid rgba(25, 20, 19, 0.41);
      }
    }
    &__visible {
      z-index: 99;
      width: 100%;
      max-width: 200px;
      padding: 10px 0 10px 0;
      display: flex;
      flex-direction: column;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      span {
        color: #4a3c3a;
        @include roman;
        font-size: 16px;
        font-weight: 400;
        padding-left: 30px;
      }
      &:before {
        content: "";
        width: 16px;
        position: absolute;
        left: 0;
        height: 16px;
        border: 1px solid #4a3c3a;
        border-radius: 50%;
        transition: 0.3s;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  &__content {
    display: flex;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
}
