.tested {
  padding-top: 10px;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 125px;
  }
  &__info {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__text {
    z-index: 12;
    @media (max-width: 991px) {
      padding-bottom: 60px;
    }
  }
  &__img {
    display: flex;
    margin-left: 170px;
    position: relative;
    z-index: 9;
    @media (max-width: 991px) {
      margin-left: 0;
    }
    &:before {
      content: "";
      width: 296px;
      height: 296px;
      background-color: #eff8ed;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 20px #eff8ed;
      position: absolute;
      z-index: -12;
      left: -107px;
      top: -47px;
      @media (max-width: 575px) {
        left: -59px;
        top: -36px;
        width: 230px;
        height: 230px;
      }
    }
    &:after {
      content: "";
      width: 222px;
      height: 222px;
      background-color: #f3f9f9;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 15px #f3f9f9;
      position: absolute;
      z-index: -12;
      right: -75px;
      @media (max-width: 575px) {
        right: 15px;
        width: 170px;
        height: 170px;
      }
    }
    img {
      position: relative;
      z-index: 9;
      @media (max-width: 575px) {
        width: 100%;
        max-width: 120px;
      }
    }
    img:first-child {
      margin-right: 110px;
      @media (max-width: 575px) {
        margin-right: 40px;
      }
    }
  }
  h2 {
    max-width: 401px;
    margin-bottom: 55px;
    color: #4a3c3a;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    @media (max-width: 991px) {
      font-size: 48px;
      line-height: 80px;
    }
    @media (max-width: 575px) {
      max-width: 305px;
    }
  }
  p {
    color: #4a3c3a;
    max-width: 370px;
    padding-bottom: 30px;
  }
}
