.vegetable {
  padding-top: 50px;
  padding-bottom: 100px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding-bottom: 10px;
  }
  &__content {
    display: flex;
  }
  &__header {
    display: none;
    h3 {
      color: #4a3c3a;
      font-size: 36px;
      line-height: 60px;
    }
    @media (max-width: 991px) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  h2 {
    color: #4a3c3a;
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
  }
  &__left {
    width: 100%;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &__img-text {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 90px;
    @media (max-width: 991px) {
      margin-top: 70px;
    }
    h2 {
      margin-left: -160px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    img {
      width: 100%;
      max-width: 344px;
      margin-top: 80px;
      margin-left: 60px;
      @media (max-width: 1199px) {
        margin-left: 30px;
      }
      @media (max-width: 420px) {
        margin-left: -30px;
        max-width: 240px;
        height: 135px;
      }
    }
  }
  &__right {
    width: 100%;
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    z-index: 12;
    @media (max-width: 1300px) {
      margin-right: -50px;
    }
    @media (max-width: 991px) {
      margin-top: 60px;
      margin-right: 0;
    }
    &:before {
      content: "";
      width: 432px;
      height: 432px;
      background-color: #f3f9fa;
      border-radius: 50%;
      box-shadow: 2px 4px 51px 10px #f3f9fa;
      position: absolute;
      z-index: -12;
      left: 0;
      top: -46px;
      opacity: 0.8;
      @media (max-width: 767px) {
        display: none;
      }
    }
    img {
      margin-right: 60px;
      margin-bottom: 40px;
      @media (max-width: 991px) {
        margin-right: 0;
      }
      @media (max-width: 575px) {
        width: 100%;
        height: 100%;
        max-width: 132px;
        max-height: 96px;
      }
    }
    h2 {
      color: #a5a1a1;
      @media (max-width: 1300px) {
        text-align: right;
      }
      @media (max-width: 991px) {
        font-size: 56px;
      }
      @media (max-width: 767px) {
        font-size: 48px !important;
        margin-right: -134px;
        white-space: nowrap;
      }
    }
  }
}
