.video-box {
  overflow: hidden;
  &__line {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }
  &__bottom {
    margin: 0 160px 0 160px;
    @media (max-width: 1199px) {
      margin: 0 95px 0 95px;
    }
    @media (max-width: 767px) {
      margin: 0;
    }
  }
  &__top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 160px 0 160px;
    @media (max-width: 1199px) {
      margin: 0 95px 0 95px;
    }
    @media (max-width: 767px) {
      margin: 0;
    }
    &:before {
      content: url("images/icons/oval-big-green.svg");
      position: absolute;
      left: -220px;
    }
    h2 {
      margin-bottom: 80px;
      @media (max-width: 767px) {
        margin-bottom: 45px;
      }
    }
  }
  .video-box__button {
    background-image: url("images/franchise/video-oval.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 72px;
    max-height: 72px;
    z-index: 999;
    &:focus,
    &:active {
      outline: none;
      border: none;
      text-decoration: none;
    }
    @media (max-width: 575px) {
      max-width: 68px;
      max-height: 68px;
    }
  }
  &__size {
    max-width: 350px;
    height: 240px;
  }
  &__small-video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      margin-right: 30px;
    }
    &:nth-child(2) {
      margin-right: 30px;
    }
    .video-box__button {
      top: 45% !important;
    }
    @media (max-width: 991px) {
      margin-bottom: 24px;
      margin-right: 0;
    }
    span {
      margin-top: 15px;
      color: #150a2c;
      @include h-reg;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    video {
      width: 100%;
      height: 100%;
      @media (max-width: 991px) {
        max-width: 100%;
        height: 100%;
      }
    }
  }
  &__big-video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 480px;
    @media (max-width: 991px) {
      order: 2;
      max-width: 100%;
      height: 100%;
    }
    span {
      margin-top: 15px;
      color: #150a2c;
      @include h-reg;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
    video {
      width: 100%;
      max-width: 480px;
      height: 360px;
      @media (max-width: 991px) {
        max-width: 100%;
        height: 100%;
      }
    }
  }
  &__centre {
    padding-bottom: 100px;
    padding-top: 130px;
    margin: 0 160px 0 160px;
    @media (max-width: 1199px) {
      margin: 0 95px 0 95px;
    }
    @media (max-width: 991px) {
      padding-bottom: 50px;
    }
    @media (max-width: 767px) {
      margin: 0;
      padding-top: 20px;
    }
  }
  &__left {
    justify-content: flex-start;
    h2 {
      position: relative;
      text-align: right;
      margin-left: 100px;
      &:after {
        content: url("images/advantages/oval-blue.svg");
        position: absolute;
        top: 0;
        left: 283px;
        z-index: -12;
      }
    }
  }
  &__right {
    justify-content: flex-end;
    h2 {
      position: relative;
      margin-right: 100px;
      &:after {
        content: url("images/advantages/oval-orange.svg");
        position: absolute;
        right: 56px;
        top: 22px;
      }
    }
  }
  &__right,
  &__left {
    display: flex;
    align-items: center;
    @media (max-width: 991px) {
      flex-direction: column;
    }
    h2 {
      color: #4a3c3a;
      font-size: 64px;
      font-weight: 400;
      line-height: 80px;
      max-width: 372px;
      width: 100%;
      @media (max-width: 991px) {
        order: 1;
        font-size: 54px;
        margin-bottom: 30px;
        margin-right: 0 !important;
        margin-left: 0 !important;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      @media (max-width: 767px) {
        font-size: 44px;
      }
      @media (max-width: 575px) {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 20px;
      }
    }
  }
}
