<div class="about-info">
  <div class="container">
    <div class="about-info__content">
      <div class="about-info__top">
        <h2>Some info about us</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Expertise since 2005</h3>
            <p>Biocoiff' existe depuis 2005... Nous avons démontré notre savoir-faire et notre efficacité à Paris et dans la France entière. Nous souhaitons aujourd'hui vous les transmettre.
            </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Plant and natural products</h3>
            <p>Les produits Biocoiff' (teintures, shampoings, soins) ont été conçus avec des produits 100% naturels et sont testés en salon depuis des années. Ils connaissent un succès exponentiel en salon et sur Internet et se vendent dans toute la France et l'Europe (Belgique, Luxembourg, Suisse, Espagne, Angleterre, Canada...)
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Fresh and innovative packaging</h3>
            <p>L'équipe Biocoiff' a conçu des produits au packaging frais et innovant, en rupture totale avec l'image ringarde et peu valorisante du bio. Notre packaging séduit une clientèle de plus en plus jeune et adepte des produits naturels.
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Visibility 2.0</h3>
            <p>Nous mettons en avant votre salon et vous aidons à développer votre clientèle après la formation via notre communication digitale (Facebook, Instagram, etc)</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Continuous technical monitoring</h3>
            <p>Une fois formé aux colorations végétales Biocoiff', nous assurons un suivi en continu afin que vous deveniez un expert des couleurs végétales rapidement !</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="about-info__block">
            <h3>Approved and reimbursed training</h3>
            <p>Le centre de formation partenaire Biocoiff' est agrée DATADOCK et AFNOS. Nos formations sont prises en charge (FAFCEA/AGEFOS) et NOUS nous occupons de monter le dossier de prise en charge.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
