<div class="advantages">
  <div class="container">
    <div class="advantages__content">
      <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="300" class="advantages__top">
        <h2>Our advantages</h2>
      </div>
      <div class="advantages__numbers-block">
        <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="300" class="advantages__oval">
          <span class="spincrement" data-from="0" data-to="52" data-dp="0">52</span>
          <p>trained hairdressers</p>
        </div>
        <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="300" class="advantages__oval">
          <span class="spincrement" data-from="0" data-to="2698" data-dp="0">2698</span>
          <p>colors applied</p>
        </div>
        <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="300" class="advantages__oval">
          <span class="spincrement" data-from="0" data-to="15" data-dp="0">15</span>
          <p>successful trainings</p>
        </div>
        <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="300" class="advantages__oval">
          <span class="spincrement" data-from="0" data-to="184" data-dp="0">184</span>
          <p>coffees tasted</p>
        </div>
      </div>
      <div class="advantages__text-block">
        <div class="advantages__info">
          <h3 data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Confirmed expertise</h3>
          <p data-aos="fade-down" data-aos-duration="1100" data-aos-delay="350">Biocoiff' existe depuis 2005... Nous avons démontré notre savoir-faire et notre efficacité à Paris et dans la France entière. Nous souhaitons aujourd'hui vous les transmettre.
          </p>
        </div>
        <div class="advantages__info">
          <h3 data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">A full range of plant colors</h3>
          <p data-aos="fade-down" data-aos-duration="1100" data-aos-delay="350">Fort de notre expérience dans le végétal, nous avons décidé de répondre à la demande de nombreux coiffeurs qui veulent apprendre la technique de la coloration végétale. A plusieurs dates dans l'année, nous formons les professionnels de la coiffure.</p>
        </div>
        <div class="advantages__info">
          <h3 data-aos="fade-up" data-aos-duration="900" data-aos-delay="300">Training all year round</h3>
          <p data-aos="fade-down" data-aos-duration="1100" data-aos-delay="350">Notre gamme permet de répondre à toutes les demandes et exigences. Couverture des cheveux blancs à 100%, balayage..</p>
        </div>
      </div>
      <div class="advantages__bottom">
        <a  class="btn-border" href="#">And more</a>
      </div>
    </div>
  </div>
</div>
