<div class="basic-color">
  <div data-aos="fade-down-right" data-aos-duration="900" data-aos-delay="90" class="basic-color__img">
    <div class="big-put" style="background-image: url('images/training/basic-color.jpg')"></div>
  </div>
  <div class="basic-color__text">
    <div class="basic-color__info">
      <h3 data-aos="fade-down" data-aos-duration="900" data-aos-delay="90">Knowing the basics of vegetable coloring, making a new diagnosis, developing the appropriate formula and mastering the application will be the objectives during this training. </h3>
      <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="140">Knowing the basics of vegetable coloring, making a new diagnosis, developing the appropriate formula and mastering the application will be the objectives during this training. Your customers are waiting for you! You will gradually build your expertise in your salon with your clients. We do not doubt the positive reception you will have with your clients who will listen to your new speech and will trust you in this new way of understanding hair. Welcome to the world of plants and good luck for this new turn!
      </p>
      <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="160">Of course, if you want more information on our organic coloring training , do not hesitate to contact us. The Biocoiff team</p>
    </div>
    <div class="basic-color__link">
      <a data-aos="fade-down" data-aos-duration="90" data-aos-delay="90" class="btn-arrow" href="#">Register
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
          <title>Path</title>
          <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
              <g id="button" transform="translate(844.000000, 763.000000)">
                <g id="Group-9" transform="translate(0.000000, 87.000000)">
                  <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
