<div class="card-detail">
  <div class="container">
    <h2 data-aos="fade-up" data-aos-duration="900" data-aos-delay="90">Testimonials after training in vegetable coloring</h2>
    <div class="card-detail__info">
      <div class="swiper-container d-flex">
        <div class="swiper-wrapper">
          {{#each card-slider}}
            <div class="card-detail__card swiper-slide">
              <div class="card-detail__img ">
                <img data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="90" class="fit-cover" src="{{img-big}}" alt="#">
              </div>
              <div class="card-detail__text">
                <div class="card-detail__say">
                 <span> “ </span>
                </div>
                <p data-aos="fade-up" data-aos-duration="1100" data-aos-delay="110">{{text}}</p>
                <div class="cards-line"></div>
                <div class="card-detail__bottom">
                  <h5 data-aos="fade-down" data-aos-duration="1100" data-aos-delay="110">{{h5}}</h5>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="card-detail__right">
        <div class="card-detail__right-top">
          <div data-id="0" class="card-detail__small-img "><img src="images/slider/men-small.jpg" alt=""></div>
          <div data-id="1" class="card-detail__small-img "><img src="images/slider/ledi-1.jpg" alt=""></div>
        </div>
        <div class="card-detail__right-bottom">
          <div data-id="2" class="card-detail__small-img "><img src="images/slider/ledi-2.jpg" alt=""></div>
          <div data-id="3" class="card-detail__small-img"><img src="images/slider/ledi-3.jpg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="cards__bottom-links">
      <h3 data-aos="fade-up" data-aos-duration="1100" data-aos-delay="110">You want to become a vegetal colorist?</h3>
      <a data-aos="fade-down" data-aos-duration="1300" data-aos-delay="130" class="btn-arrow" href="#">Contact us
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
          <title>Path</title>
          <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
              <g id="button" transform="translate(844.000000, 763.000000)">
                <g id="Group-9" transform="translate(0.000000, 87.000000)">
                  <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </div>
  </div>
</div>
