<div class="city-time">
  <div class="container">
    <div class="city-time__content">
      <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="city-time__header">
        <h2>Our next trainings</h2>
        <p>To register, simply complete our online form.
          We take care of setting up the support file for you.</p>
      </div>
      <div  data-aos="fade-up" data-aos-duration="900" data-aos-delay="90" class="city-time__center">
        <div class="city-time__block">
          <span>06 - 07</span>
          <span>09.2020</span>
          <p>City Name</p>
        </div>
        <div class="city-time__block">
          <span>06 - 07</span>
          <span>09.2020</span>
          <p>City Name</p>
        </div>
        <div class="city-time__block">
          <span>28 - 29</span>
          <span>12.2020</span>
          <p>City Name</p>
        </div>
        <div class="city-time__block">
          <span>06 - 07</span>
          <span>09.2020</span>
          <p>City Name</p>
        </div>
      </div>
    </div>
  </div>
</div>
