<div class="colours-slider">
  <div class="container">
    <div class="register__mobile">
      <a href="/products.html">Products ></a>
      <span>Colours</span>
    </div>
    <div class="colours-slider__content">
      <div class="colours-slider__text">
        <h1>10 years of experience</h1>
        <p>Biocoiff ' offers its entire range of products to hairdressing and aesthetic professionals: shampoos, hair care, coloring.</p>
      </div>
      <div class="colours-slider__right">
        <div class="swiper-button-prev"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="31" viewBox="0 0 16 31"><g><g><path fill="none" stroke="#979797" stroke-miterlimit="20" d="M15.59 1.3v0L.34 15.697v0l15.25 13.997v0"/></g></g></svg></div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="colours-slider__img">
                <div class="colours-slider__line">
                  <img src="images/colours/img-1.jpg" alt="">
                  <img src="images/colours/img-2.jpg" alt="">
                </div>
               <div class="colours-slider__line">
                 <img src="images/colours/img-3.jpg" alt="">
                 <img src="images/colours/img-4.jpg" alt="">
                 <img src="images/colours/img-5.jpg" alt="">
               </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="colours-slider__img">
                <div class="colours-slider__line">
                  <img src="images/colours/img-1.jpg" alt="">
                  <img src="images/colours/img-2.jpg" alt="">
                </div>
                <div class="colours-slider__line">
                  <img src="images/colours/img-3.jpg" alt="">
                  <img src="images/colours/img-4.jpg" alt="">
                  <img src="images/colours/img-5.jpg" alt="">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="colours-slider__img">
                <div class="colours-slider__line">
                  <img src="images/colours/img-1.jpg" alt="">
                  <img src="images/colours/img-2.jpg" alt="">
                </div>
                <div class="colours-slider__line">
                  <img src="images/colours/img-3.jpg" alt="">
                  <img src="images/colours/img-4.jpg" alt="">
                  <img src="images/colours/img-5.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"><img src="images/colours/next.svg" alt=""></div>
      </div>
    </div>
    <div class="colours-slider__mobile">
      <p>Biocoiff ' offers its entire range of products to hairdressing and aesthetic professionals: shampoos, hair care, coloring.</p>
    </div>
  </div>
</div>
