<div class="composition">
  <div class="composition__line">
    <div class="composition__left">
      <img src="images/colours/flowers-1.jpg" alt="">
    </div>
    <div class="composition__text">
      <h2>A composition of rare purity ...</h2>
      <p>Staining by plants does not need any chemical components. Biocoiff 'colors are made up of plants ... and only plants. We have selected the most effective dye plants to compose the Biocoiff 'range: shikakai, amla, cassia, henna, indigo ...</p>
    </div>
  </div>
  <div class="composition__right">
    <img src="images/colours/flowers-2.jpg" alt="">
  </div>
  <div class="composition__mobile">
    <div class="composition__info">
      <p>Staining by plants does not need any chemical components. Biocoiff 'colors are made up of plants ... and only plants. We have selected the most effective dye plants to compose the Biocoiff 'range: shikakai, amla, cassia, henna, indigo ...</p>
    </div>
    <div class="composition__small-img">
      <img src="images/colours/flowers-2.jpg" alt="">
    </div>
  </div>
</div>
