<footer>
  <div class="container">
    <div class="footer">
     <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="300" class="footer__content">
       <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="300" class="footer__logo">
         <a href="#"><img src="images/icons/logo.svg" alt=""></a>
       </div>
      <div class="footer__uls">
        <div class="footer__line">
          <ul class="footer__ul-first">
            <li><a href="#">
              Products
            </a></li>
            <li><a href="#">
              Training
            </a></li>
            <li><a href="#">
              Why choose us?
            </a></li>
            <li><a href="#">
              Franchise
            </a></li>
            <li><a href="#">
              FAQ
            </a></li>
          </ul>
          <ul >
            <li><a href="#">
              Boutique
            </a></li>
            <li><a href="#">
              Contact us
            </a></li>
            <li><a href="#">
              Testimonials
            </a></li>
            <li><a href="#">
              Legal notice
            </a></li>
          </ul>
        </div>
        <ul >
          <li><a href="#">
            Instagram
          </a></li>
          <li><a href="#">
            Facebook
          </a></li>
          <li><a href="#">
            YouTube
          </a></li>
        </ul>
      </div>
     </div>
      <div class="footer__bottom">
        <span>All rights reserved . Biocoiff 2020. Organic  hairdresser. Organic shampoos</span>
      </div>
    </div>
  </div>
</footer>
