<div class="founder">
  <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="founder__img">
    <img src="images/choose/founder.jpg" alt="founder">
  </div>
  <div class="founder__text">
   <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="founder__header">
     <h2>The founder</h2>
   </div>
    <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="founder__info">
      <h3>Charley</h3>
      <p>Charley is the founder of Biocoiff '.
        After multiple allergic reactions to chemical dyes early in his career, Charley decided to devote himself only to hairdressing.
      </p>
      <p>A little more than 10 years ago, he discovered the existence of organic hair colors only composed of powders.</p>
      <p> His hard work and his mastery of vegetable colorings led him to create the range of 100% vegetable hair colorations Biocoiff '.</p>
      <p>He is today the undisputed expert in the field and supervises the Biocoiff 'hairdressing salons.</p>
    </div>
  </div>
</div>
