<div class="future">
  <div class="container">
    <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="100" class="future__top">
      <h2>At Biocoiff we believe that 100% vegetable is the future of hair color.</h2>
    </div>
    <div class="future__content">
      <div class="future__left">
        <h3 data-aos="fade-down" data-aos-duration="900" data-aos-delay="300">Our expertise since 2005, at your service</h3>
        <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="350">Biocoiff ' is today the undisputed expert in France in vegetable coloring . With 15 years of expertise in this area, we have concluded that it is the only credible alternative to colorings and chemicals.</p>
        <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="400">This complex and efficient technique has enabled us to satisfy a demanding clientele in our five Parisian salons . Charley, a hairdresser for over 35 years and allergic to chemicals, is the founder of the Biocoiff 'brand.</p>
        <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="450">In 10 years, he has repaired and cared for the hair of thousands of women across France . He decided to share his expertise with all hairdressers eager to breathe new life into their activity .</p>
        <p data-aos="fade-down" data-aos-duration="900" data-aos-delay="500">Biocoiff 'Professionnel has decided to make its expertise available to all hairdressers wishing to satisfy a clientele increasingly recalcitrant to colorings and chemicals. A range of pigments for professionals, organic shampoos and treatments, training courses for hairdressing professionals.</p>
      </div>
      <div data-aos="zoom-in-left" data-aos-duration="900" data-aos-delay="100" class="future__right">
        <img src="images/future/girl.jpg" alt="">
      </div>
    </div>
  </div>
</div>
