<div class="hair-problem">
  <div class="container">
    <div class="hair-problem__body">
      <div class="hair-problem__top">
        <div class="hair-problem__text">
          <p>Biocoiff 'shampoos  have everything to please your customers: efficiency in the face of any hair problem (oily, dry, dehydrated, fine ...), young and fresh packaging , 100% natural products , and a non-excessive price for a hyper concentrated shampoo .</p>
        </div>
        <div class="hair-problem__ovals">
          <div class="hair-problem__box">
            <h3>Tea Tree</h3>
            <p>shampoo for oily hair</p>
          </div>
          <div class="hair-problem__box">
            <h3>Calendula</h3>
            <p>shampoo for dry hair</p>
          </div>
        </div>
      </div>
      <div class="hair-problem__line">
        <div class="hair-problem__block">
          <div class="hair-problem__box">
            <h3>Nettle</h3>
            <p>shampoo for fine hair</p>
          </div>
          <div class="hair-problem__box">
            <h3>Aloe Vera </h3>
            <p>shampoo for dehydrated hair</p>
          </div>
        </div>
        <div class="hair-problem__block">
          <div class="hair-problem__box">
            <h3>Herbal</h3>
            <p>shampoo for normal hair</p>
          </div>
          <div class="hair-problem__box">
            <h3>Ylang-Ylang</h3>
            <p>detangling and nourishing conditioner </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
