<div class="like-block">
  <div class="container">
    <div class="like-block__top">
      <p>Consommables > Boissons chaudes > </p>
      <span>Item</span>
    </div>
    <div class="like-block__content">
      <div class="like-block__left">
        <img src="images/item/tropikal.jpg" alt="">
      </div>
      <div class="like-block__text">
        <span>$ 6.90</span>
        <h2>"Tropical" infusion - Rooibos</h2>
        <span>(3gx24)</span>
        <p>This complex and efficient technique has enabled us to satisfy a demanding clientele in our five Parisian salons . Charley, a hairdresser for over 35 years and allergic to chemicals, is the founder of the Biocoiff 'brand.</p>
        <p>In 10 years, he has repaired and cared for the hair of thousands of women across France . He decided to share his expertise with all hairdressers eager to breathe new life into their activity .</p>
        <div class="like-block__btn">
          <a href="#" class="btn-border">Buy it now
          </a>
        </div>
      </div>
    </div>
    <div class="like-block__bottom">
      <h3>You may also like</h3>
      <div class="like-block__line">
        <div class="like-block__small-box">
          <div class="like-block__img">
            <img src="images/item/orange.jpg" alt="">
          </div>
          <span>"Tropical" infusion - Rooibos</span>
          <span>(3gx24)</span>
          <a href="#" class="btn-border">Buy it now
          </a>
        </div>
        <div class="like-block__small-box">
          <div class="like-block__img">
            <img src="images/item/tropikal.jpg" alt="">
          </div>
          <span>"Tropical" infusion - Rooibos</span>
          <span>(3gx24)</span>
          <a href="#" class="btn-border">Buy it now
          </a>
        </div>
        <div class="like-block__small-box">
          <div class="like-block__img">
            <img src="images/item/earl.jpg" alt="">
          </div>
          <span>"Tropical" infusion - Rooibos</span>
          <span>(3gx24)</span>
          <a href="#" class="btn-border">Buy it now
          </a>
        </div>
        <div class="like-block__small-box">
          <div class="like-block__img">
            <img src="images/item/blue.jpg" alt="">
          </div>
          <span>"Tropical" infusion - Rooibos</span>
          <span>(3gx24)</span>
          <a href="#" class="btn-border">Buy it now
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
