<div class="living-room">
  <div class="container">
    <div class="living-room__content">
      <div class="living-room__top">
        <h2>Biocoiff 'communicates on your living room</h2>
      </div>
      <div class="row">
        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color">
              <img src="images/choose/youtube.svg" alt="">
              <span>200.000</span>
            </div>
            <p>views on YouTube and Dailymotion with more than 50 videos</p>
          </div>
        </div>

        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color-1">
              <img src="images/choose/news.svg" alt="">
              <span>250</span>
            </div>
            <p>articles published in the press, internet and print</p>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color-2">
              <img src="images/choose/instagram.svg" alt="">
              <span>100</span>
            </div>
            <p>tests of the biggest YouTubers and Bloggers</p>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color-3">
              <img src="images/choose/facebook.svg" alt="">
              <span>60.000</span>
            </div>
            <p>fans. A young and active community, throughout France.</p>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color-4">
              <img src="images/choose/people.svg" alt="">
              <span>40.000</span>
            </div>
            <p>views on YouTube and Dailymotion with more than 50 videos</p>
          </div>
        </div>
        <div class="col-lg-4 col-6">
          <div class="living-room__block">
            <div class="living-room__img living-room__color-5">
              <img src="images/choose/search.svg" alt="">
              <span>#1</span>
            </div>
            <p>ranked # 1 on search engines.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
