<div class="logos">
  <div class="container">
    <div class="logos__info">
      <img src="images/icons/elle.svg" alt="">
      <img src="images/icons/lecla.svg" alt="">
      <img src="images/icons/blond.svg" alt="">
      <img src="images/icons/logo-2.svg" alt="">
    </div>
  </div>
</div>
