<div class="logos">
  <div class="container">
    <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="100" class="logos__info">
      <img src="images/icons/elle.svg" alt="">
      <img src="images/icons/lecla.jpg" alt="">
      <img src="images/icons/blond.svg" alt="">
      <img src="images/icons/logo-2.jpg" alt="">
    </div>
  </div>
</div>
