<div class="logos">
  <div class="container">
    <div class="logos__info">
      <img data-aos="fade-down" data-aos-duration="900" data-aos-delay="100" src="images/icons/elle.svg" alt="">
      <img data-aos="fade-down" data-aos-duration="900" data-aos-delay="150" src="images/icons/lecla.jpg" alt="">
      <img data-aos="fade-down" data-aos-duration="900" data-aos-delay="200" src="images/icons/blond.svg" alt="">
      <img data-aos="fade-down" data-aos-duration="900" data-aos-delay="250" src="images/icons/logo-2.jpg" alt="">
    </div>
  </div>
</div>
