{{#with main-video}}
<div class="main-video {{products-video}}">
  <div class="container">
    <div class="row">
      <div class="mission-size col-xl-5 col-lg-6 col-md-12">
        <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="main-video__text">
          <h2>{{h2}}</h2>
          <p>{{p}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="main-video__content">
      <div class="row w-100">
        <div class="mission col-lg-6 offset-lg-6 col-md-12">
          <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="main-video__video">
            <video src="images/choose/star.mp4"></video>
          </div>
        </div>
      </div>
    </div>
  </div>
    {{/with}}
</div>
