<div class="main-video">
  <div class="container">
    <div class="row">
      <div class="mission-size col-xl-5 col-lg-6 col-md-12">
        <div class="main-video__text">
          <h2>Our history, Our values</h2>
          <p>Biocoiff ' offers its entire range of products to hairdressing and aesthetic professionals: shampoos, hair care, coloring.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="main-video__content">
      <div class="row w-100">
        <div class="mission col-lg-6 offset-lg-6 col-md-12">
          <div class="main-video__video">
            <img src="images/choose/video-shadow.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
