<div class="shadow">
  <div class="mobile-menu">
    <div class="mobile-menu__top">
      <a href="#" class="mobile-menu__burger">
        <img src="images/icons/burger.svg" alt="">
      </a>
      <div class="mobile-menu__logo">
        <img src="images/icons/logo.svg" alt="logo">
      </div>
    </div>
    <div class="mobile-menu__accord" >
      <ul>
        <li><a href="#">Products</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="#">Why choose us?</a></li>
        <li><a href="#">Franchise</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="mobile-menu__buttons">
        <a class="btn-border" href="#">Boutique</a>
        <a href="#">Accaunt</a>
        <a href="#">Cart</a>
      </div>
      <a href="#">LogIn/SignUp</a>
    </div>
  </div>
</div>
