<nav class="nav">
  <div class="nav__info">
    <a href="#" class="nav__burger">
      <img src="images/icons/burger.svg" alt="">
    </a>
    <div class="nav__links">
      <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="nav__logo">
        <img src="images/icons/logo.svg" alt="logo">
      </div>
      <ul>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="150" ><a href="#">Products</a></li>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="200"><a href="#">Training</a></li>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="250"><a href="#">Why choose us?</a></li>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="300"><a href="#">Franchise</a></li>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="350"><a href="#">Contact</a></li>
      </ul>
    </div>
    <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="nav__buttons">
      <a class="btn-border" href="#">Boutique</a>
      <a href="#"><img src="images/icons/user.svg" alt="user"></a>
      <a href="#"><img src="images/icons/basket.svg" alt="basket"></a>
    </div>
  </div>
</nav>
