<nav class="nav">
  <div class="nav__info">
    <a href="#" class="nav__burger">
      <img src="images/icons/burger.svg" alt="">
    </a>
    <div class="nav__links">
      <div class="nav__logo">
        <img src="images/icons/logo.svg" alt="logo">
      </div>
      <ul>
        <li><a href="#">Products</a></li>
        <li><a href="#">Training</a></li>
        <li><a href="#">Why choose us?</a></li>
        <li><a href="#">Franchise</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="nav__buttons">
      <a class="btn-border" href="#">Boutique</a>
      <a href="#"><img src="images/icons/user.svg" alt="user"></a>
      <a href="#"><img src="images/icons/basket.svg" alt="basket"></a>
    </div>
  </div>
</nav>
