<nav class="nav">
  <div class="nav__info">
    <div class="nav__burger">
      <img src="images/icons/burger.svg" alt="">
    </div>
    <div class="nav__links">
      <a href="/index.html" data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="nav__logo">
        <img src="images/icons/logo.svg" alt="logo">
      </a>
      <ul>
        <li data-aos="fade-up" data-aos-duration="900" data-aos-delay="150" ><a href="#">Products</a></li>
        <li class="{{class-training}}" data-aos="fade-up" data-aos-duration="900" data-aos-delay="200"><a href="/training.html">Training</a></li>
        <li class="{{class-choose}}"  data-aos="fade-up" data-aos-duration="900" data-aos-delay="250"><a href="/why-choose-us.html">Why choose us?</a></li>
        <li  class="{{class-franchise}}" data-aos="fade-up" data-aos-duration="900" data-aos-delay="300"><a href="/franchise.html">Franchise</a></li>
        <li class="{{class-contact}}" data-aos="fade-up" data-aos-duration="900" data-aos-delay="350"><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
    <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="nav__buttons">
      <a class="btn-border" href="#">Boutique</a>
      <a href="#"><img src="images/icons/user.svg" alt="user"></a>
      <a href="#"><img src="images/icons/basket.svg" alt="basket"></a>
    </div>
  </div>
</nav>
