<div class="objective">
  <div class="container">
    <div class="objective__content">
      <div class="objective__left">
        <h2>Objectives of Biocoiff 'training :</h2>
        <p> Learning to master vegetable coloring will be a major asset for hairdressing professionals in the years to come. The growing demand, the existing possibilities with colors, respect for the health of clients and hairdressers are forcing a shift in the profession. We will be delighted to support you in this transition and to count you among those who will change things in the world of hairdressing.
        </p>
      </div>
      <div class="objective__right">
        <img src="images/training/object-1.jpg" alt="">
        <div class="objective__line">
          <img src="images/training/object-2.jpg" alt="">
          <img src="images/training/object-3.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
