<section class="page-hero">
  <div class="page-hero__content">
    <div class="page-hero__left">
      <img data-aos="fade-right" data-aos-duration="900" data-aos-delay="90"src="images/page-hero/redhead.jpg" alt="">
      <h1 data-aos="fade-down" data-aos-duration="900" data-aos-delay="90">Become an expert in Plant Color</h1>
    </div>
    <div class="page-hero__right">
      <img data-aos="fade-left" data-aos-duration="900" data-aos-delay="90"src="images/page-hero/eye.jpg" alt="">
    </div>
    <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="page-hero__text">
      <h3>Biocoiff is number one in
        training in plant & organic coloring</h3>
      <p>Enhance the hair of your clients.
        Be an actor in the Re BIO lution.
        Become a virtuoso of Plant Coloring .</p>
      <div class="page-hero__logo">
        <img src="images/icons/cosmos.svg" alt="">
        <img src="images/icons/vegan.svg" alt="">
      </div>
    </div>
  </div>
</section>
