<div class="partner">
  <div class="container">
    <div class="partner__content">
      <div class="partner__header">
        <h2>Different partnerships, according to your desires</h2>
      </div>
      <div class="partner__cards">
        <div class="card">
          <div class="card__body">
            <h3>Biocoiff partner</h3>
            <ul>
              <li>Buy products from the Biocoiff 'range at professional prices ( shampoos and treatments only ) and resell them to individuals</li>
              <li>Benefit from sales supports developed by the Biocoiff 'marketing team</li>
            </ul>
            <div class="card__btn">
              <a href="#" class="btn-arrow">Register
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
                  <title>Path</title>
                  <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
                      <g id="button" transform="translate(844.000000, 763.000000)">
                        <g id="Group-9" transform="translate(0.000000, 87.000000)">
                          <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="card__hide">
            <p>For who ?
              This type of partnership is intended for hairdressers who only wish to supplement their departments with 100% natural products.</p>
          </div>
        </div>
        <div class="card">
          <div class="card__body card-color-2">
            <h3>Certified Biocoiff partner</h3>
            <ul>
              <li>Same as biocoiff partner</li>
              <li>Biocoiff 'vegetable coloring training & continuous monitoring</li>
              <li>Communication materials (posters & flyers)</li>
            </ul>
            <div class="card__btn">
              <a href="#" class="btn-arrow">Register
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
                  <title>Path</title>
                  <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
                      <g id="button" transform="translate(844.000000, 763.000000)">
                        <g id="Group-9" transform="translate(0.000000, 87.000000)">
                          <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="card__hide">
            <p>For who ?
              This type of partnership is intended for hairdressers who only wish to supplement their departments with 100% natural products.</p>
          </div>
        </div>
        <div class="card">
          <div class="card__body card-color-3">
            <h3>Biocoiff 'licensed partner</h3>
            <ul>
              <li>Same as certified biocoiff partner</li>
              <li>Benefit from brand awareness</li>
              <li>Rapid acquisition of new customers</li>
            </ul>
            <div class="card__btn">
              <a href="#" class="btn-arrow">Register
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
                  <title>Path</title>
                  <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
                      <g id="button" transform="translate(844.000000, 763.000000)">
                        <g id="Group-9" transform="translate(0.000000, 87.000000)">
                          <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="card__hide">
            <p>For who ?
              This type of partnership is intended for hairdressers who only wish to supplement their departments with 100% natural products.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
