<div class="plants">
  <div class="plants__left">
    <img  data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" src="images/training/plants-img-1.jpg" alt="">
    <h2  data-aos="fade-up-right" data-aos-duration="900" data-aos-delay="120">Welcome to the world of plants!</h2>
  </div>
  <div class="plants__right">
    <div data-aos="fade-down-left" data-aos-duration="900" data-aos-delay="90" class="plants__img">
      <img src="images/training/plants-img-2.jpg" alt="">
    </div>
    <h3 data-aos="fade-down" data-aos-duration="900" data-aos-delay="90">Biocoiff 'has been in existence for almost 10 years and its expertise in plant colorings has made it possible to develop precise protocols and to be able to transmit its know-how to hairdressing professionals today.</h3>
  </div>
</div>
