<div class="range-colors">
  <div class="container">
    <div class="range-colors__content">
      <div class="range-colors__column">
        <div class="range-colors__text">
          <h2>A wide range of colors</h2>
          <p>All the colors of nature are possible: a complete and effective range. The range of Biocoiff ' pigments makes it  possible to obtain all possible shades. Precise protocols developed for each type of hair and each color desire. The results observed at the end of the session bring a smile to clients who find exceptional hair quality.</p>
        </div>
        <div class="range-colors__img">
          <div class="big-put" style="background-image: url('images/colours/range-1.jpg')"></div>
        </div>
        <div class="range-colors__mobile">
          <div class="range-colors__mobile-img">
            <div class="bg-cover" style="background-image: url('images/colours/range-1.jpg')"></div>
            <div class="bg-cover" style="background-image: url('images/colours/range-2.jpg')"></div>
          </div>
          <div class="range-colors__mobile-header">
            <h2>... for results of unparalleled splendor</h2>
          </div>
        </div>
      </div>
      <div class="range-colors__img-text">
        <div class="big-put" style="background-image: url('images/colours/range-2.jpg')"></div>
        <h2>... for results of unparalleled splendor</h2>
      </div>
      <div class="range-colors__img-right">
        <div class="big-put" style="background-image: url('images/colours/range-3.jpg')"></div>
      </div>
    </div>
  </div>
</div>
