<div class="range-colors">
  <div class="container">
    <div class="range-colors__content">
      <div class="range-colors__column">
        <div class="range-colors__text">
          <h2>A wide range of colors</h2>
          <p>All the colors of nature are possible: a complete and effective range. The range of Biocoiff ' pigments makes it  possible to obtain all possible shades. Precise protocols developed for each type of hair and each color desire. The results observed at the end of the session bring a smile to clients who find exceptional hair quality.</p>
        </div>
        <div class="range-colors__img">
          <img src="images/colours/range-1.jpg" alt="">
        </div>
        <div class="range-colors__mobile">
          <div class="range-colors__mobile-img">
            <img src="images/colours/range-1.jpg" alt="">
            <img src="images/colours/range-2.jpg" alt="">
          </div>
          <div class="range-colors__mobile-header">
            <h2>... for results of unparalleled splendor</h2>
          </div>
        </div>
      </div>
      <div class="range-colors__img-text">
        <img src="images/colours/range-2.jpg" alt="">
        <h2>... for results of unparalleled splendor</h2>
      </div>
      <div class="range-colors__img-right">
        <img src="images/colours/range-3.jpg" alt="">
      </div>
    </div>
  </div>
</div>
