
<div class="register">
  <div class="container">
    <div class="register__mobile">
      <a href="/training.html">Training ></a>
      <span>Register</span>
    </div>
    <div class="register__info">
     <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="90" class="register__header">
       <h2>Register</h2>
       <h3>Vegetal colorist training</h3>
     </div>
      <form data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" action="">
        <label for="date">Date of training</label>
        <div class="select-wrapper position-relative">
          <select name="form" id="date">
            <option value="1">September 6 and 7, 2020</option>
            <option value="2">October 6 and 7, 2020</option>
            <option value="3">November 6 and 7, 2020</option>
          </select>
        </div>
        <div class="register__box">
          <span>Training location:</span>
          <p>19 Place Jeanne d’Arc 75013 Paris</p>
        </div>
        <div class="register__block">
          <h3>Business</h3>
          <div class="contact__input">
            <label for="">Salon name</label>
            <input placeholder="example" type="text">
          </div>
          <div class="contact__input">
            <label for="">Social reason</label>
            <input placeholder="example" type="text">
          </div>
          <div class="contact__input">
            <label for="">Full address</label>
            <input placeholder="example" type="text">
          </div>
          <div class="contact__input">
            <label for="">Phone</label>
            <div class="input-group">
              <span>+33</span>
              <input class="phone" placeholder="0 660 209 333" type="tel">
            </div>
          </div>
          <div class="contact__input">
            <label for="">E-mail</label>
            <input placeholder="example@mail.com" type="email" name="email">
          </div>
          <div class="contact__input">
            <label for="">SIRET</label>
            <input placeholder="example" type="text">
          </div>
        </div>
        <div class="register__block">
          <h3>Intern (check status)</h3>
          <div class="contact__input">
            <label for="">Full name of the intern</label>
            <input placeholder="example" type="text">
          </div>
          <div class="register__chek">
            <label for="">Status</label>
            <div class="forms__checkbox first__checkbox">
              <input id="check3" type="checkbox">
              <label for="check3">Enterpreneur</label>
              <input id="check4" type="checkbox">
              <label for="check4">Employee</label>
              <input id="check5" type="checkbox">
              <label for="check5" >Jobseeker</label>
            </div>
            <label for="">Diploma</label>
            <div class="forms__checkbox">
              <input id="check6" type="checkbox">
              <label for="check6">CAP</label>
              <input id="check7" type="checkbox">
              <label for="check7">BP</label>
              <input id="check8" type="checkbox">
              <label for="check8">VAE</label>
            </div>
          </div>
        </div>
        <div class="register__block">
          <h3>Supported</h3>
          <span>Would you like to request support for this training?
          </span>
          <div class="register__bottom">
            <div class="slideThree">
              <input id="slideThree" type="checkbox">
              <label for="slideThree"></label>
            </div>
            <label for="">Yes, i will need support</label>
          </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="register__button">
          <button class="btn-arrow">To send
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="34px" height="10px" viewBox="0 0 34 10" version="1.1">
              <title>Path</title>
              <g id="desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="contact" transform="translate(-949.000000, -865.000000)" fill="#4A3C3A" fill-rule="nonzero">
                  <g id="button" transform="translate(844.000000, 763.000000)">
                    <g id="Group-9" transform="translate(0.000000, 87.000000)">
                      <path id="Path" d="M130.112298,15.0642122 L138.112298,19.5642122 L138.887032,20 L138.112298,20.4357878 L130.112298,24.9357878 L129.622037,24.0642122 L135.959,20.5 L105.367168,20.5 L105.367168,19.5 L135.959,19.5 L129.622037,15.9357878 L130.112298,15.0642122 Z"/>
                    </g>
                  </g>
                </g>
              </g>
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
