<section class="salon">
  <div class="salon__content">
    <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="100"  class="salon__img-left">
      <div class="salon__img-left-bg">
        <img src="images/franchise/blond.jpg" alt="">
      </div>
    </div>
    <div  data-aos="fade-down" data-aos-duration="900" data-aos-delay="100" class="salon__text">
      <h1>Do you want to open your 100% vegetal salon ..?</h1>
      <span>You can. Easy</span>
    </div>
    <div  data-aos="fade-left" data-aos-duration="900" data-aos-delay="100" class="salon__img-right">
      <div class="salon__before">
        <img src="images/franchise/orange.jpg" alt="">
      </div>
    </div>
  </div>
  <div class="salon__img-text">
   <div  data-aos="fade-right" data-aos-duration="900" data-aos-delay="100" class="salon__img-curls">
     <img src="images/franchise/curls.jpg" alt="">
   </div>
    <div  data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="100" class="salon__list-1">
      <h3>5 good reasons to open your Biocoiff salon '</h3>
      <ul>
        <li>Your clients have allergies to chemical stains</li>
        <li>Your customers want more and more naturalness from you</li>
        <li>Looking for a new entrepreneurial opportunity</li>
        <li>You want to invest in an innovative and ethical concept</li>
        <li>You want to boost your career</li>
      </ul>
    </div>
  </div>
  <div data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="100" class="salon__list-2">
    <h3>Guaranteed profitability. From the first 2 months.</h3>
    <ul>
      <li>Your schedule filled, even before the opening.</li>
      <li>It is proven by experience. Your salon will be profitable from the 2nd month.</li>
      <li>Take advantage of the turnkey Biocoiff 'concept .</li>
      <li>We support you before, during and after the opening.</li>
    </ul>
  </div>
</section>
