<div class="shampoo">
  <div  data-aos="zoom-in" data-aos-duration="900" data-aos-delay="90" class="shampoo__mobile">
    <h3>Biocoiff Shampoos</h3>
   <div class="shampoo__bg">
     <div class="big-put" style="background-image: url('images/products/shampoo-2.jpg')"></div>
   </div>
    <h2>Biocoiff Shampoos</h2>
  </div>
  <div  data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="shampoo__left">
    <img src="images/products/shampoo-1.jpg" alt="">
    <h2>Biocoiff Shampoos</h2>
  </div>
  <div  data-aos="fade-up" data-aos-duration="900" data-aos-delay="90" class="shampoo__center">
    <h2>Biocoiff Shampoos</h2>
    <div class="shampoo__bg">
      <div class="big-put" style="background-image: url('images/products/shampoo-2.jpg')"></div>
    </div>
  </div>
  <div  data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="shampoo__right">
    <img src="images/products/shampoo-3.jpg" alt="">
    <h2>Biocoiff Shampoos</h2>
  </div>
</div>
