<div class="shampoo">
  <div class="shampoo__left">
    <img src="images/products/shampoo-1.jpg" alt="">
    <h2>Biocoiff Shampoos</h2>
  </div>
  <div class="shampoo__center">
    <h2>Biocoiff Shampoos</h2>
    <img src="images/products/shampoo-2.jpg" alt="">
  </div>
  <div class="shampoo__right">
    <img src="images/products/shampoo-3.jpg" alt="">
    <h2>Biocoiff Shampoos</h2>
  </div>
</div>
