<div class="tested">
  <div class="container">
    <div class="tested__info">
      <div data-aos="flip-right" data-aos-duration="900" data-aos-delay="90" class="tested__text">
        <h2>Not tested on animals</h2>
        <p>No need to test our pigments on animals. They work and their harmlessness is not to be proven since they are plants.</p>
        <p>Approved by European organizations
          Validation of all dermatological and toxicological tests</p>
      </div>
      <div class="tested__img">
        <img data-aos="flip-up" data-aos-duration="900" data-aos-delay="90" src="images/icons/bio.svg" alt="">
        <img data-aos="flip-down" data-aos-duration="900" data-aos-delay="90" src="images/icons/vegan-big.svg" alt="">
      </div>
    </div>
  </div>
</div>
