<div class="training-hero">
  <div class="container">
    <div class="training-hero__content">
      <div class="training-hero__mobile">
        <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="training-hero__left">
          <h1>Biocoiff Training</h1>
        </div>
        <div data-aos="flip-down" data-aos-duration="900" data-aos-delay="90" class="training-hero__img big-put" style="background-image: url('images/training/training-img.png')">
        </div>
      </div>
      <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="training-hero__right">
        <h3>Biocoiff is number one in
          training in plant & organic coloring</h3>
        <p>Approved and reimbursable training
          Theoretical: feedback on the basics of plants and coloring
          Practice: diagnosis and application on real models
          Post-training follow-up and support
          Color and product starter pack from the day of the training</p>
      </div>
    </div>
  </div>
</div>
