<div class="treatments">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12">
        <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="90" class="treatments__text">
          <h2>Biocoiff Treatments</h2>
          <p>In addition to shampoos, we have developed a range of products aimed at maintaining and caring for the hair. In addition to the balms, we offer for sale the Gel with Aloe Vera Biocoiff ', styling & moisturizing .
          </p>
          <div class="treatments__img">
            <div class="treatments__bg">
              <img src="images/products/green-can.svg" alt="">
            </div>
            <div class="treatments__bg">
              <img src="images/products/rose-can.svg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="main-video__content">
      <div class="row w-100">
        <div class="mission col-lg-5 offset-lg-7 col-md-12">
          <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="treatments__right">
            <div class="treatments__header">
              <img src="images/products/treatment.jpg" alt="">
              <h2>Biocoiff Treatments</h2>
            </div>
            <img src="images/products/treatment-2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
