<div class="vegetable">
  <div class="vegetable__left">
    <img src="images/products/vegetable-1.jpg" alt="">
  </div>
  <div class="vegetable__img-text">
    <h2>Vegetable dyes</h2>
    <img src="images/products/vegetable-2.jpg" alt="">
  </div>
  <div class="vegetable__right">
    <img src="images/products/vegetable-3.jpg" alt="">
    <h2>Vegetable dyes</h2>
  </div>
</div>
