<div class="vegetable">
  <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="vegetable__header">
    <h3>Vegetable dyes</h3>
  </div>
  <div class="vegetable__content">
    <div  data-aos="zoom-in-right" data-aos-duration="900" data-aos-delay="90" class="vegetable__left">
      <div class="big-put" style="background-image: url('images/products/vegetable-1.jpg')"></div>
    </div>
    <div  data-aos="zoom-in" data-aos-duration="900" data-aos-delay="90" class="vegetable__img-text">
      <h2>Vegetable dyes</h2>
      <div class="big-put" style="background-image: url('images/products/vegetable-2.jpg')"></div>
    </div>
    <div  data-aos="zoom-in-left" data-aos-duration="900" data-aos-delay="90" class="vegetable__right">
      <img src="images/products/vegetable-3.jpg" alt="">
      <h2>Vegetable dyes</h2>
    </div>
  </div>
</div>
