<div class="video-box">
  <div class="video-box__top">
    <h2>Some info about us</h2>
    <div class="video-box__line">
      <div class="video-box__small-video">
        <video src="#"></video>
        <span>John Smith</span>
      </div>
      <div class="video-box__small-video">
        <video src="#"></video>
        <span>John Smith</span>
      </div>
      <div class="video-box__small-video">
        <video src="#"></video>
        <span>John Smith</span>
      </div>
    </div>
  </div>
  <div class="video-box__centre">
    <div class="video-box__right">
      <h2>Discover our history</h2>
      <div class="video-box__big-video">
        <video src="#"></video>
      </div>
    </div>
  </div>
  <div class="video-box__bottom">
    <div class="video-box__left">
      <div class="video-box__big-video">
        <video src="#"></video>
      </div>
      <h2>The biocoiff license</h2>
    </div>
  </div>
</div>
