<div class="video-box">
  <div class="video-box__top">
    <h2 data-aos="fade-up" data-aos-duration="900" data-aos-delay="100">Some info about us</h2>
    <div class="video-box__line">
      <div data-aos="zoom-in-right" data-aos-duration="900" data-aos-delay="100" class="video-box__small-video">
        <button class="video-box__button"></button>
        <video class="videoBox" src="images/choose/tree.mp4"></video>
        <span>John Smith</span>
      </div>
      <div data-aos="zoom-in-up" data-aos-duration="900" data-aos-delay="100" class="video-box__small-video">
        <button class="video-box__button"></button>
        <video class="videoBox" src="images/choose/tree.mp4"></video>
        <span>John Smith</span>
      </div>
      <div data-aos="zoom-in-left" data-aos-duration="900" data-aos-delay="100" class="video-box__small-video">
        <button class="video-box__button"></button>
        <video class="videoBox" src="images/choose/tree.mp4"></video>
        <span>John Smith</span>
      </div>
    </div>
  </div>
  <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="100" class="video-box__centre">
    <div class="video-box__right">
      <h2>Discover our history</h2>
      <div class="video-box__big-video">
        <button class="video-box__button"></button>
        <video class="videoBox" src="images/franchise/waterfall.mp4"></video>
      </div>
    </div>
  </div>
  <div data-aos="fade-right" data-aos-duration="900" data-aos-delay="100" class="video-box__bottom">
    <div class="video-box__left">
      <div class="video-box__big-video">
        <button class="video-box__button"></button>
        <video class="videoBox" src="images/franchise/waterfall.mp4"></video>
      </div>
      <h2>The biocoiff license</h2>
    </div>
  </div>
</div>
