<div class="work">
  <div data-aos="zoom-in-right" data-aos-duration="900" data-aos-delay="90" class="work__img">
    <img src="images/choose/work-1.jpg" alt="">
  </div>
  <div class="work__text">
    <h2 data-aos="fade-up" data-aos-duration="900" data-aos-delay="90">Why work with us?</h2>
    <h3 data-aos="fade-up" data-aos-duration="900" data-aos-delay="130">Our goal: to share our know-how and our expertise with all hairdressing professionals.</h3>
    <p data-aos="fade-up" data-aos-duration="900" data-aos-delay="160">Since 2005, we have been handling plant pigments in our Parisian salons ... and we did not wait for the wave of "green" to offer our customers AND our employees a healthier way to take care of the hair! How about offering Plant Color as a NEW service to your customers?
    </p>
    <p data-aos="fade-up" data-aos-duration="900" data-aos-delay="190">It is not a question of eliminating the traditional colors, but rather of attracting new customers to you ...</p>
  </div>
  <div data-aos="zoom-in-left" data-aos-duration="900" data-aos-delay="90" class="work__right">
    <img src="images/choose/work-2.jpg" alt="">
  </div>
</div>
