<div class="you">
  <div class="container">
    <h2>You are… </h2>
    <div class="you__top">
      <div class="you__text-block">
        <h3>Contractor</h3>
        <p>Get involved in an ethical and promising project</p>
      </div>
      <div class="you__text-block">
        <h3>Hairdresser</h3>
        <p>Breathe new life into yuor career</p>
      </div>
      <div class="you__text-block">
        <h3>Passionate</h3>
        <p>You want to live your passion for the profession differently</p>
      </div>
    </div>
  </div>
  <div class="you__img-block">
    <div class="you__left">
      <div class="you__curls">
        <div class="you__img-1">
          <img src="images/franchise/hair.jpg" alt="">
        </div>
        <div class="you__img-2">
          <img src="images/franchise/color-natural.jpg" alt="">
        </div>
      </div>
      <div class="you__img-3">
        <img src="images/franchise/img-3.jpg" alt="">
      </div>
    </div>
    <div class="you__right">
      <h2>…Get started. Naturally</h2>
      <p>Biocoiff ': 1st organic hairdressing salon with 100% vegetable coloring invites you to be part of a growing network!</p>
    </div>
  </div>
</div>
