.btn-border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a3c3a;
  @include roman;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 120px;
  height: 32px;
  transition: 0.3s;
  z-index: 9;
  &:after {
    z-index: 9;
    border: 1px solid rgba(25, 20, 19, 0.41);
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: -4px;
    top: -3px;
    bottom: -3px;
    right: -4px;
  }
  &:before {
    z-index: -12;
    background: #dff0f1;
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: 8px;
    top: 4px;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 125px;
    height: 37px;
  }
  &:hover {
    color: #4a3c3a;
    &:before {
      opacity: 1;
    }
  }
}
.btn-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #4a3c3a;
  @include roman;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 150px;
  height: 32px;
  transition: 0.3s;
  z-index: 9;
  &:after {
    z-index: 9;
    border: 1px solid rgba(25, 20, 19, 0.41);
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: -4px;
    top: -3px;
    bottom: -3px;
    right: -4px;
  }
  &:before {
    z-index: -12;
    background: #eff8ed;
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: 8px;
    top: 8px;
    bottom: 0;
    right: 0;
    width: 157px;
    height: 37px;
    opacity: 0;
  }
  &:hover {
    color: #4a3c3a;
    &:before {
      opacity: 1;
    }
  }
}
.current {
  &:before {
    z-index: -12;
    transition: 0.3s;
    opacity: 1 !important;
    content: url("images/icons/oval-border-small.svg");
    position: absolute;
  }
}
