.btn-oval {
  z-index: 9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a3c3a;
  @include roman;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 120px;
  height: 32px;
  transition: 0.3s;
  &:after {
    z-index: 9;
    border: 1px solid rgba(25, 20, 19, 0.41);
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: -4px;
    top: -3px;
    bottom: -3px;
    right: -4px;
  }
  &:before {
    content: "";
    width: 59px;
    height: 59px;
    background-color: #eff8ed;
    border-radius: 50%;
    box-shadow: 2px 4px 51px 10px #eff8ed;
    position: absolute;
    z-index: -12;
    opacity: 0;
  }
  &:hover {
    color: #4a3c3a;
    &:before {
      opacity: 1;
    }
  }
}
.btn-border {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a3c3a;
  @include roman;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 120px;
  height: 32px;
  transition: 0.3s;
  z-index: 9;
  &:after {
    z-index: 9;
    border: 1px solid rgba(25, 20, 19, 0.41);
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: -4px;
    top: -3px;
    bottom: -3px;
    right: -4px;
  }
  &:before {
    z-index: -12;
    background: #eff8ed;
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: 8px;
    top: 4px;
    opacity: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    max-width: 125px;
    height: 40px;
  }
  &:hover {
    color: #4a3c3a;
    &:before {
      opacity: 1;
    }
  }
}
.btn-arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #4a3c3a;
  @include roman;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 150px;
  height: 32px;
  transition: 0.3s;
  z-index: 9;
  &:after {
    z-index: 9;
    border: 1px solid rgba(25, 20, 19, 0.41);
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: -4px;
    top: -3px;
    bottom: -3px;
    right: -4px;
  }
  &:before {
    z-index: -12;
    background: #eff8ed;
    transition: 0.3s;
    position: absolute;
    content: " ";
    display: block;
    left: 8px;
    top: 8px;
    bottom: 0;
    right: 0;
    width: 157px;
    height: 40px;
    opacity: 0;
  }
  &:hover {
    color: #4a3c3a;
    &:before {
      opacity: 1;
    }
  }
}
.contact-before-yellow {
  position: relative;
  &:before {
    left: -40px;
    top: 516px;
    z-index: -12;
    content: url("images/franchise/yellow-big.svg");
    position: absolute;
  }
  h2 {
    &:before {
      content: url("images/franchise/big-blue.svg");
      position: absolute;
      z-index: -12;
      border-radius: 50%;
      left: -216px;
      top: -175px;
    }
  }
}
.contact-before {
  position: relative;
  &:before {
    z-index: -12;
    content: url("images/contact/oval-blue.svg");
    position: absolute;
    left: 149px;
    top: 50px;
    @media (max-width: 992px) {
      left: -99px;
      top: 30px;
    }
    @media (max-width: 575px) {
      left: -348px;
      top: -57px;
    }
  }
}
.current {
  &:before {
    z-index: -12;
    transition: 0.3s;
    opacity: 1 !important;
    content: url("images/icons/oval-border-small.svg");
    position: absolute;
  }
}
.products-video {
  p {
    &:after {
      display: none !important;
    }
  }
  h2 {
    max-width: 100% !important;
    &:before {
      background-color: #eff8ed !important;
      box-shadow: 2px 4px 51px 15px #eff8ed;
    }
  }
}
