footer {
  display: flex;
  position: relative;
  overflow: hidden;
  &:before {
    z-index: -12;
    content: url("images/icons/oval-big-green.svg");
    position: absolute;
    left: 30px;
  }
}
.footer {
  margin-top: 160px;
  margin-bottom: 30px;
  &__content {
    display: flex;
    width: 100%;
    @media (max-width: 991px) {
      flex-wrap: wrap;
    }
  }
  &__logo {
    margin-right: 135px;
    position: relative;
    z-index: 9;
    @media (max-width: 991px) {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
  &__ul-first {
    margin-right: 190px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    span {
      text-align: center;
      color: #4a3c3a;
      @include roman;
      font-size: 16px;
      font-weight: 400;
    }
  }
  ul {
    &:last-child {
      margin-left: 165px;
      @media (max-width: 767px) {
        margin-top: 30px;
        margin-left: 0;
        display: block;
        width: 100%;
      }
    }
    li {
      position: relative;
      z-index: 9;
      margin-bottom: 20px;
      &:before {
        z-index: -12;
        transition: 0.3s;
        opacity: 0;
        content: url("images/icons/oval-border-small.svg");
        position: absolute;
        top: -15px;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      a {
        color: #4a3c3a;
        @include roman;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
