footer {
  display: flex;
  position: relative;
  overflow: hidden;
  &:before {
    z-index: -12;
    content: url("images/icons/oval-big-green.svg");
    position: absolute;
    left: 30px;
    @media (max-width: 991px) {
      left: -27px;
      top: -37px;
    }
    @media (max-width: 575px) {
      left: -168px;
      top: -80px;
    }
  }
}
.footer {
  margin-top: 130px;
  margin-bottom: 30px;
  @media (max-width: 991px) {
    margin-top: 50px;
  }
  &__line {
    display: flex;
    width: 100%;
    ul {
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    ul:last-child {
      margin-top: 0 !important;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media (max-width: 575px) {
      justify-content: center;
    }
  }
  &__uls {
    width: 100%;
    display: flex;
    max-width: 800px;
    @media (max-width: 1070px) {
      max-width: 700px;
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__logo {
    position: relative;
    z-index: 9;
    @media (max-width: 991px) {
      margin-right: 100px;
    }
    @media (max-width: 767px) {
      display: block;
      width: 100%;
      margin-right: 0;
      margin-bottom: 60px;
    }
  }
  &__ul-first {
    width: 100%;
    @media (max-width: 1199px) {
      margin-right: 0;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    span {
      text-align: center;
      color: #4a3c3a;
      @include roman;
      font-size: 16px;
      font-weight: 400;
    }
  }
  ul {
    &:last-child {
      width: 100%;
      @media (max-width: 991px) {
        margin-top: 30px;
        margin-left: 0;
        display: block;
        width: 100%;
      }
      @media (max-width: 575px) {
        align-items: center;
      }
      @media (max-width: 400px) {
        align-items: normal;
      }
    }
    li {
      position: relative;
      z-index: 9;
      margin-bottom: 20px;
      &:before {
        z-index: -12;
        transition: 0.3s;
        opacity: 0;
        content: url("images/icons/oval-border-small.svg");
        position: absolute;
        top: -15px;
      }
      &:hover {
        &:before {
          opacity: 1;
        }
      }
      a {
        color: #4a3c3a;
        @include roman;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}
