<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
{{> ../common/colours-slider }}
{{> ../common/composition }}
{{> ../common/tested }}
{{> ../common/footer }}
</body>
</html>
