<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
{{> ../common/salon }}
{{> ../common/video-box }}
{{> ../common/footer }}
</body>
</html>
