<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
{{> ../common/page-hero }}
{{> ../common/logos }}
{{> ../common/future }}
{{> ../common/advantages }}
{{> ../common/cards-slider }}
{{> ../common/footer }}
</body>
</html>
