<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
{{> ../common/like-block }}
{{> ../common/footer }}
</body>
</html>
