<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body>
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
<div class="shop">
  <div class="container">
    <div class="shop__content">
      <div class="filter filter__desktop" data-aos="fade-right" data-aos-duration="900" data-aos-delay="90">
        <div class="filter__accord">
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Consommables</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="filter1" type="checkbox">
                <label for="filter1">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="filter2" type="checkbox">
                <label for="filter2">Cheeky Panda</label>
              </div>
              <div class="forms__checkbox">
                <input id="filter3" type="checkbox">
                <label for="filter3">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="filter4" type="checkbox">
                <label for="filter4">Produits menegers</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Goodies</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="hide1" type="checkbox">
                <label for="hide1">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide2" type="checkbox">
                <label for="hide2">Cheeky Panda</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide3" type="checkbox">
                <label for="hide3">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide4" type="checkbox">
                <label for="hide4">Produits menegers</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Les Packs Biocoiff</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="boissons" type="checkbox">
                <label for="boissons">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="panda" type="checkbox">
                <label for="panda">Cheeky Panda</label>
              </div>
              <div class="forms__checkbox">
                <input id="grants" type="checkbox">
                <label for="grants">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="meneger" type="checkbox">
                <label for="meneger">Produits menegers</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Non  classe</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="check-1" type="checkbox">
                <label for="check-1">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="check-2" type="checkbox">
                <label for="check-2">Cheeky Panda</label>
              </div>
              <div class="forms__checkbox">
                <input id="check-3" type="checkbox">
                <label for="check-3">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="check-4" type="checkbox">
                <label for="check-4">Produits menegers</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Pack de poudres</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="check-5" type="checkbox">
                <label for="check-5">Boissons chaudes</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Posters</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="filter7" type="checkbox">
                <label for="filter7">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="filter8" type="checkbox">
                <label for="filter8">Cheeky Panda</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Shampoings Biocoiff</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="filter9" type="checkbox">
                <label for="filter9">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="filter10" type="checkbox">
                <label for="filter10">Produits menegers</label>
              </div>
            </div>
          </div>
          <div class="filter__toggle">
            <div class="filter__visible">
              <span>Soins capillaires Biocoiff</span>
            </div>
            <div class="filter__hide">
              <div class="forms__checkbox">
                <input id="hide5" type="checkbox">
                <label for="hide5">Boissons chaudes</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide6" type="checkbox">
                <label for="hide6">Cheeky Panda</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide7" type="checkbox">
                <label for="hide7">Gants</label>
              </div>
              <div class="forms__checkbox">
                <input id="hide8" type="checkbox">
                <label for="hide8">Produits menegers</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shop__boxes">
        <div data-aos="fade-up" data-aos-duration="900" data-aos-delay="90" class="shop__block-top">
          <p>Place for some promotions etc</p>
        </div>
        <div class="filter__mobile">
          <div class="filter" data-aos="fade-right" data-aos-duration="900" data-aos-delay="90">
            <div class="filter__header">
              <h3>Filters</h3>
            </div>
            <div class="filter__accord">
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Consommables</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="mob-1" type="checkbox">
                    <label for="mob-1">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-2" type="checkbox">
                    <label for="mob-2">Cheeky Panda</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-3" type="checkbox">
                    <label for="mob-3">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-4" type="checkbox">
                    <label for="mob-4">Produits menegers</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Goodies</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="mob-5" type="checkbox">
                    <label for="mob-5">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-6" type="checkbox">
                    <label for="mob-6">Cheeky Panda</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-7" type="checkbox">
                    <label for="mob-7">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-8" type="checkbox">
                    <label for="mob-8">Produits menegers</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Les Packs Biocoiff</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="boissons-mob" type="checkbox">
                    <label for="boissons-mob">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="panda-mob" type="checkbox">
                    <label for="panda-mob">Cheeky Panda</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="grants-mob" type="checkbox">
                    <label for="grants-mob">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="meneger-mob" type="checkbox">
                    <label for="meneger-mob">Produits menegers</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Non  classe</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="mob-9" type="checkbox">
                    <label for="mob-9">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-10" type="checkbox">
                    <label for="mob-10">Cheeky Panda</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-11" type="checkbox">
                    <label for="mob-11">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-12" type="checkbox">
                    <label for="mob-12">Produits menegers</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Pack de poudres</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="check-mob" type="checkbox">
                    <label for="check-mob">Boissons chaudes</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Posters</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="filter-mob" type="checkbox">
                    <label for="filter-mob">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-13" type="checkbox">
                    <label for="mob-13">Cheeky Panda</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Shampoings Biocoiff</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="mob-14" type="checkbox">
                    <label for="mob-14">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="mob-15" type="checkbox">
                    <label for="mob-15">Produits menegers</label>
                  </div>
                </div>
              </div>
              <div class="filter__toggle">
                <div class="filter__visible">
                  <span>Soins capillaires Biocoiff</span>
                </div>
                <div class="filter__hide">
                  <div class="forms__checkbox">
                    <input id="hide-mob" type="checkbox">
                    <label for="hide-mob">Boissons chaudes</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="hide6-mob" type="checkbox">
                    <label for="hide6-mob">Cheeky Panda</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="hide7-mob" type="checkbox">
                    <label for="hide7-mob">Gants</label>
                  </div>
                  <div class="forms__checkbox">
                    <input id="hide8-mob" type="checkbox">
                    <label for="hide8-mob">Produits menegers</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="900" data-aos-delay="90" class="shop__info">
          <div class="row">
            {{#each shop__boxes}}
            <div class="col-md-3 col-sm-6 col-12">
              <div class="like-block__small-box">
                <div class="like-block__img">
                  <img src="{{img}}" alt="">
                </div>
                <span>{{small-text}}</span>
                <span>{{numbers}}</span>
                <div class="shop__link">
                  <a href="#" class="btn-border">Buy it now</a>
                </div>
              </div>
            </div>
              {{/each}}
          </div>
        </div>
        <div data-aos="zoom-in" data-aos-duration="900" data-aos-delay="90" class="shop__btn">
          <a href="#" class="big-btn">Next Page</a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
        </div>
        <div data-aos="fade-down" data-aos-duration="900" data-aos-delay="90" class="like-block__bottom">
          <h3>You may also like</h3>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-12">
              <div class="like-block__small-box">
                <div class="like-block__img">
                  <img src="images/item/orange.jpg" alt="">
                </div>
                <span>"Tropical" infusion - Rooibos</span>
                <span>(3gx24)</span>
                <a href="#" class="btn-border">Buy it now
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div class="like-block__small-box">
                <div class="like-block__img">
                  <img src="images/item/tropikal.jpg" alt="">
                </div>
                <span>"Tropical" infusion - Rooibos</span>
                <span>(3gx24)</span>
                <a href="#" class="btn-border">Buy it now
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div class="like-block__small-box">
                <div class="like-block__img">
                  <img src="images/item/earl.jpg" alt="">
                </div>
                <span>"Tropical" infusion - Rooibos</span>
                <span>(3gx24)</span>
                <a href="#" class="btn-border">Buy it now
                </a>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-12">
              <div class="like-block__small-box">
                <div class="like-block__img">
                  <img src="images/item/blue.jpg" alt="">
                </div>
                <span>"Tropical" infusion - Rooibos</span>
                <span>(3gx24)</span>
                <a href="#" class="btn-border">Buy it now
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{> ../common/footer }}
</body>
</html>
