<!DOCTYPE html>
<html lang="en">
<head>
  {{> ../common/head }}
</head>
<body style="overflow-x: hidden">
{{> ../common/mobile-menu }}
{{> ../common/navigation }}
{{> ../common/training-hero }}
{{> ../common/city-time }}
{{> ../common/map }}
{{> ../common/plants }}
{{> ../common/objective}}
{{> ../common/basic-color }}
{{> ../common/cards-slider }}
{{> ../common/footer }}
</body>
</html>
